/* MovieCard.css */
.movie-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: 80%;
}

.movie-card h3 {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

.star {
  color: #f5c518;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}
