/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 10px 20px;
  color: white;
}

.search-input {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.search-input::placeholder {
  color: #aaa;
}
